* {
  margin: 0;
}
body {
  background-color: #fefae0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 20px;
  text-align: center;
}

button {
  padding: 10px;
  margin: 20px;
}

#reset {
  margin-left: 20px;
}

.main-wrapper {
  background-color: #faedcd;
  width: 95vw;
  margin: 0 auto;
  text-align: center;
}

.game-status {
  margin-top: 10px;
  padding: 10px;
}

.generate-ship {
  background-color: #e9edc9;
}

.alien-fire {
  background-color: #ccd5ae;
}

.uss-fire {
  background-color: #d4a373;
}

.you-won {
  background-color: #b3d5ae;
}

.you-loose {
  background-color: #d47373;
}
